<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav" style="font-style: italic;">
            <li style="padding-left: 10px;"><h2 style="color: white;"><a style="text-decoration: none; color: white !important;" href="/Home/Index">Sports Admin</a></h2></li>
            <li style="padding-top: 10px;">@Html.ActionLink("Sports", "SportsList", "Sports")</li>
            <li style="padding-top: 10px;">@Html.ActionLink("Teams", "TeamsList", "Teams")</li>
            @*<li style="padding-top: 10px;">@Html.ActionLink("Players", "Contact", "Home")</li>*@
        </ul>
    </div>
    <div class="container body-content" id="body">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
